#adBig
{
width: 723px;
height: 300px;
background: #f2b3c4;
border-top-left-radius: 20px;
float: left
}
#login
{
width: 301px;
height: 460px;
background: #f285a2;
border-top-right-radius: 20px;
float: right;
}
.adS
{
width: 239px; /* eigenlijk 241px door de lijn */
height: 158px; /* eigenlijk 160px door de lijn */
float:left;
background-color: #f8fbfd; /* wit */
border:1px solid black; /* lijntje om het blok */
}