#filter
{
float: left;
width: 224px;
height: 100%;
background: #f23d7f;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

#shop
{

position: relative;
width: 800px;
height: 800px;
background: #F2B3C4;
float: right;
}

#pri-nav
{
float: right;
width: 800px;
height: 70px;
background: #f285a2;
border-top-right-radius: 20px;
}

#sec-nav
{
float: right;
height: 30px;
width: 800px;
background: #bd0515;
}
.item
{
float: left;
margin: 10px;
width: 180px;
height: 180px;
background: red;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.itemI
{
float: left;
width: 130px;
height: 120px;
background: blue;
}

.naam
{
width: 130px;
height: 30px;
float:left;
clear:left;
background:purple;
}

.bedrag
{
width: 50px;
height: 150px;
float:right;
background: cyan;
border-top-right-radius: 10px;
}

.add
{
width: 180px;
height: 30px;
clear:both;
background:darkred;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
