#filter
{
float: left;
width: 184px;
height: 700px;
background: #f23d7f;
padding:100px 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

#shop
{

position: relative;
width: 800px;
height: 800px;
background: #F2B3C4;
float: right;
}

#pri-nav
{
float: right;
width: 800px;
height: 70px;
background: #f285a2;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

#sec-nav
{
float: right;
height: 30px;
width: 800px;
background: #f2a3c4;
}
.item
{
float: left;
margin: 10px;
width: 180px;
height: 180px;
background: #F2B3C4;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color:black;
font-family:Bodoni MT;
font-size:15px;"
}

.itemI
{
float: left;
width: 130px;
height: 120px;
background: #F2B3C4;
}

.naam
{
width: 130px;
height: 20px;
padding:5px 0px;
float:left;
clear:left;
background:#F285A2;
}

.bedrag
{
width: 50px;
height: 140px;
float:right;
padding:5px 0px;
background: #F23D7F;
border-top-right-radius: 10px;
}

.add
{
width: 180px;
height: 26px;
padding: 2px 0px;
clear:both;
background:#BD0515;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
