#Bimg
{
float:left;
width: 400px;
height: 400px;
background-image:url('../images/products/jellyfish_blue_01_large.png');
border-top-left-radius: 20px;
}

#Simg
{
padding:10px;
float: left;
clear: left;
width: 380px;
height: 80px;
background: #F285A2;
}
.inner
{
        display: table;
        margin: auto;
}
#Right
{
width: 624px;
height: 500px;
float:right;
background:#F2B3C4;
border-top-right-radius: 20px;
}

#Name
{
float:left;
width: 270px;
height: 80px;
background: #BD0515;
font-family:Segoe Print Bold;
font-size:220%;
color:black;
text-align: center;
border-bottom-right-radius: 15px;
}
#Pay
{
float: right;
width: 150px;
height: 150px;
background: #F23D7F;
text-align:center; 
font-family:Segoe Print Bold;
font-size:300%;
color:black;
border-top-right-radius: 20px;
}

#Add
{
float: right;
clear: right;
width: 150px;
height: 50px;
background: #BD0515;
text-align:center;
font-family:Segoe Print Bold;
font-size:190%;
color:black;
border-bottom-left-radius: 15px;
}



