#Bimg
{
float:left;
width: 400px;
height: 400px;
background: #F285A2;
background-size: 100% 100%;
border-top-left-radius: 20px;
}

#Simg
{
padding:10px;
float: left;
clear: left;
width: 380px;
height: 80px;
background: #F285A2;
}

.small
{
width:80px;
height:80px;
}

.plat
{
border-top-left-radius: 20px;
width: 400px;
height: 400px;
}
.inner
{
        display: table;
        margin: auto;
}
#Right
{
width: 624px;
height: 500px;
float:right;
background:#F2B3C4;
border-top-right-radius: 20px;
}

#Name
{
float:left;
width: 270px;
height: 80px;
background: #BD0515;
font-family:Bodoni;
font-size:250%;
color:black;
text-align: center;
border-bottom-right-radius: 15px;
}
#Pay
{
float: right;
width: 150px;
height: 150px;
background: #F23D7F;
text-align:center; 
font-family:Bodoni;
font-size:350%;
color:black;
border-top-right-radius: 20px;
}

#Add
{
float: right;
clear: right;
width: 150px;
height: 50px;
background: #BD0515;
text-align:center;
font-family:Bodoni;
font-size:250%;
color:black;
border-bottom-left-radius: 15px;
}



