#shop
{

position: relative;
width: 1024px;
height: 820px;
background: #F2B3C4;
}

#pri-nav
{
width: 1024px;
height: 70px;
background: #f285a2;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
position:relative;
font-family:Bodoni;
font-size:200%;
}

.nav
{
position:relative;
top:50%;
margin-top:-yy;
margin-left:auto;
margin-right:auto;
text-align:center;
width:512px;
height:30px;

}
#sec-nav
{
height: 30px;
width: 1024px;
background: #f285a2;
position:relative;
font-family:Bodoni;
font-size:100%;
}
#ms
{
height: 920px;
background: #f8fbfd;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.item
{
float: left;
margin: 10px;
width: 180px;
height: 180px;
background: #F2B3C4;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color:black;
font-family:Bodoni MT;
font-size:15px;"
}

.itemI
{
float: left;
width: 130px;
height: 120px;
background: #F2B3C4;
}

.naam
{
width: 130px;
height: 20px;
padding:5px 0px;
float:left;
clear:left;
text-align: center;
background:#F285A2;
}

.bedrag
{
width: 50px;
height: 140px;
float:right;
padding:5px 0px;
background: #F23D7F;
text-align: center;
border-top-right-radius: 10px;
}

.add
{
width: 180px;
height: 26px;
padding: 2px 0px;
clear:both;
background:#BD0515;
text-align: center;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

p.price
{
font-family:Book Antiqua;
font-size:18px;
}

img.image
{
width:130px;
height:120px;

}